<nav class="mt-4 navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <div>
          <button id="hotel" class="nav-link active tooltips bg-light" aria-current="page" type="submit" (click)="bHotels()">Hotels</button>
          <img class="rounded mx-auto d-block" src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"><br/>
        </div>
        <div>
          <button id="hut" class="bg-light nav-link active" aria-current="page" type="submit" (click)="bHuts()">Alpine Huts</button>
          <img class="rounded mx-auto d-block" src="http://maps.google.com/mapfiles/ms/icons/green-dot.png">
        </div>
        <div>
          <button id="house" class="bg-light nav-link active" aria-current="page" type="submit" (click)="bHouses()">Guest Houess</button>
          <img class="rounded mx-auto d-block" src="http://maps.google.com/mapfiles/ms/icons/yellow-dot.png">
        </div>
        <div>
          <button id="camp" class="bg-light nav-link active" aria-current="page" type="submit" (click)="bSites()">Camp Sites</button>
          <img class="rounded mx-auto d-block" src="http://maps.google.com/mapfiles/ms/icons/red-dot.png">
        </div>
        </div>
      </div>
    </div>
  </nav>
<div class="full" id="map">

</div>
<script>



</script>
