.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #DA291C !important;
}
a
{
    text-decoration: none;
    color: black;
}
a:hover
{
    text-decoration: underline;
    color:black;
    transition-duration: 500ms;
}