<!--
<p>list works!</p>
<div>
    <button (click)="addEmployee()">
        Add
    </button>
    -->

<div style="height:100px;" class="form-group">
    <label style="margin-left: 200px;margin-top:30px; margin-right:20px; float: left;" for="hotels">Search Hotels by:</label>

    <select class="form-select" name="hotels" id="hotels" [(ngModel)]="dropDownResult"
    style="width: 300px; float:left; margin-top: 20px;"
    >
    
        <option selected value="city">City</option>
        <option value="name">Name</option>
        <option value="stars">Stars</option>
    </select>
    <input class="form-control" type="text" placeholder="Default input" aria-label="default input example"
    style="margin-top:20px; margin-left:50px; float:left; width: 400px;" type="text" [(ngModel)]="filterBy" placeholder="Search by {{dropDownResult}}" (keyup)="filter()">
</div>
<div>
    <div class="container" id="main-container">
        <div class="row" style="margin-top:20px;">
            <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
                <div class="card m-b-30" style="width: 100%; height:400px; margin-bottom:20px;">
                    <div class="card-body row">
                        <div class="col-6">
                            <a href=""><img src="{{employee.imagePath}}" alt=""
                                    class="img-fluid rounded h-100 w-60"></a>
                        </div>
                        <div class="col-6 card-title align-self-center mb-0">
                            <a href="http://localhost:4200/hotel-details/{{employee.locationId}}">
                                <h5>{{employee.name}}</h5></a>
                            <p class="m-0">City: {{employee.city}}</p>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa fa-phone float-right"></i>Stars :
                            {{employee.stars}}/5</li>
                        <li class="list-group-item"><i class="fa fa-phone float-right"></i>Address :
                            {{employee.street}} No.{{employee.houseNumber}}</li>
                            <li class="list-group-item"><i class="fa fa-envelope float-right">Phone: </i>{{employee.phoneNumber}}</li>
                        <li class="list-group-item">
                            <ng-container *ngIf="isLoggedIn==true && showAdminBoard==true">
                            <div class="card-body">
                                <div class="float-right btn-group btn-group-sm">
                                    
                                        
                                        
                                    <button class="btn btn-danger tooltips" data-placement="top" data-original-title="Edit" (click)="getHotel(employee.locationId)">Edit</button>

                                   <!-- <a role="button" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i
                                            class="fa fa-times"  (click)="test()"></i>Delete</a>-->
                                            
                                            <button class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete" (click)="deleteHotel(employee.locationId)">Delete</button>
                                            
                                        </div>
                            </div>
                        </ng-container>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>
