<h2 class="text-center mt-3">New Guest House</h2>
<hr />

<form #f="ngForm"(ngSubmit)="submit()">
    <div class="mt-4">
        <div class="row mb-3 w-80">
            <div class="col-md-3"></div>
            <label class="form-label col-md-1 font-weight-bold text-right" for="x">X</label><br>
            <div class="col-md-4">
                <input required #x="ngModel" type="text" id="x" class="form-control" name="x" [(ngModel)]="guest.x" />
            </div>
        </div>
        <div class="row mb-3 w-80">
            <div class="col-md-3"></div>
            <label class="form-label col-md-1 font-weight-bold text-right" for="y">Y</label><br>
            <div class="col-md-4">
                <input required #y="ngModel" type="text" id="y" class="form-control" name="y" [(ngModel)]="guest.y" />
            </div>
        </div>
        <div class="mb-3 row w-80">
            <div class="col-md-3"></div>
            <label class="form-label col-md-1 font-weight-bold text-right" for="name">Name</label><br>
            <div class="col-md-4">
                <input required #name="ngModel" type="text" id="name" class="form-control" name="name" [(ngModel)]="guest.name" />
            </div>
        </div>
        <div class="mb-3 row w-80">
            <div class="col-md-3"></div>
            <label class="form-label col-md-1 font-weight-bold text-right" for="city">City</label><br>
            <div class="col-md-4">
                <input required #city="ngModel" type="text" id="city" class="form-control" name="city" [(ngModel)]="guest.city" />
            </div>
        </div>
        <div class="mb-3 row w-80">
            <div class="col-md-3"></div>
            <label class="form-label col-md-1 font-weight-bold text-right" for="street">Street</label><br>
            <div class="col-md-4">
                <input required #street="ngModel" type="text" id="street" class="form-control" name="street" [(ngModel)]="guest.street" />
            </div>
        </div>
        <div class="mb-3 row w-80">
            <div class="col-md-3"></div>
            <label class="form-label col-md-1 font-weight-bold text-right" for="houseNumber">House Number</label><br>
            <div class="col-md-4">
                <input required #houseNumber="ngModel" type="text" id="houseNumber" class="form-control" name="houseNumber" [(ngModel)]="guest.houseNumber" />
            </div>
        </div>
        <div class="mb-3 row w-80">
            <div class="col-md-3"></div>
            <label class="form-label col-md-1 font-weight-bold text-right" for="description">Description</label><br>
            <div class="col-md-4">
                <input required #description="ngModel" type="text" id="description" class="form-control" name="description" [(ngModel)]="guest.description" />
            </div>
        </div>
        <div class="mb-3 row w-80">
            <div class="col-md-3"></div>
            <label class="form-label col-md-1 font-weight-bold text-right" for="imagePath">Image</label><br>
            <div class="col-md-4">
                <input required #imagePath="ngModel" type="text" id="imagePath" class="form-control" name="imagePath" [(ngModel)]="guest.imagePath" />
            </div>
        </div>
        <div class="mb-3 row w-80">
            <div class="col-md-3"></div>
            <label class="form-label col-md-1 font-weight-bold text-right" for="phone">Phone</label><br>
            <div class="col-md-4">
                <input required #phone="ngModel" type="text" id="phone" class="form-control" name="phone" [(ngModel)]="guest.phoneNumber" />
            </div>
        </div>
        <div class="row mt-4 w-80">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <input id="kopce" type="submit" value="Create" class="btn btn-default w-100 bg-danger" />
            </div>
        </div>
    </div>
</form>
<div class="row w-80" style="margin-bottom: 4em;"><div class="col-md-12"></div></div>