
  <section class="vh-80 gradient-custom">
    <div class="container py-5 h-80">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <form #f="ngForm" (ngSubmit)="submit(f)">
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
                <p class="text-white-50 mb-5">Please enter information here</p>

                <div class="form-outline form-white mb-4">
                  <input type="text" id="typeEmailX" class="form-control form-control-lg" name="username" [(ngModel)]="signup.username" />
                  <label class="form-label" for="username">Username</label>
                </div>
                <div class="form-outline form-white mb-4">
                  <input type="text" id="name" class="form-control form-control-lg"name="name" [(ngModel)]="signup.name" />
                  <label class="form-label" for="name">Name</label>
                </div>
                <div class="form-outline form-white mb-4">
                  <input type="text" id="surname" class="form-control form-control-lg" name="surname" [(ngModel)]="signup.surname" />
                  <label class="form-label" for="surname">Surname</label>
                </div>
                <div class="form-outline form-white mb-4">
                  <input type="password" id="password" class="form-control form-control-lg" name="password" [(ngModel)]="signup.password" />
                  <label class="form-label" for="password">Password</label>
                </div>
                <div class="form-outline form-white mb-4">
                  <input type="password" id="repeatedPassword" class="form-control form-control-lg" name="repeatedPassword" [(ngModel)]="signup.repeatedPassword" />
                  <label class="form-label" for="repeatedPassword">Repeated Password</label>
                </div>
                  <div class="form-outline form-white mb-4">
                    <select class="form-select form-select-lg mb-1"  [(ngModel)]="signup.role" name="role">
                        <option *ngFor="let r of roles" [ngValue]="r.value">{{r.name}}</option>
                    </select>
                    <label class="form-label" for="role">Role</label>
                </div>
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Sign up</button>
              </div>
  
              <div>
                <p class="mb-0">Already have an account? <a href="/login" class="text-white-50 fw-bold">Log in</a>
                </p>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>