<!--
<p>list works!</p>
<div>
    <button (click)="addEmployee()">
        Add
    </button>
    -->

    <div style="height:100px;" class="form-group">
        <label style="margin-left: 200px;margin-top:30px; margin-right:20px; float: left;" for="houses">Search Guest Houses by:</label>
    
        <select class="form-select" name="houses" id="houses" [(ngModel)]="dropDownResult"
        style="width: 300px; float:left; margin-top: 20px;"
        >
        
            <option selected value="city">City</option>
            <option value="name">Name</option>
        </select>
        <input class="form-control" type="text" placeholder="Default input" aria-label="default input example"
        style="margin-top:20px; margin-left:50px; float:left; width: 400px;" type="text" [(ngModel)]="filterBy" placeholder="Search by {{dropDownResult}}" (keyup)="filter()">
    </div>
    <div>
        <div class="container" id="main-container">
            <div class="row" style="margin-top:20px;">
                <div *ngFor="let guesthouse of guesthouses" class="col-md-6 col-xl-3">
                    <div class="card m-b-30" style="width: 100%; height:300px; margin-bottom:20px;">
                        <div class="card-body row">
                            <div class="col-6">
                                <a href=""><img src="{{guesthouse.imagePath}}" alt=""
                                        class="img-fluid rounded h-100 w-60"></a>
                            </div>
                            <div class="col-6 card-title align-self-center mb-0">
                                <a href="http://localhost:4200/house-details/{{guesthouse.locationId}}">
                                    <h5>{{guesthouse.name}}</h5></a>
                                <p class="m-0">City: {{guesthouse.city}}</p>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-phone float-right"></i>Address :
                                {{guesthouse.street}} No.{{guesthouse.houseNumber}}</li>
                                <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone :
                                    {{guesthouse.phoneNumber}}</li>
                                        <li class="list-group-item">
                                        <div class="card-body">
                                            <div class="float-right btn-group btn-group-sm">
                                                <button class="btn btn-danger tooltips" data-placement="top" data-original-title="Edit" (click)="getHouse(guesthouse.locationId)">Edit</button>
                                               <!-- <a role="button" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i
                                                        class="fa fa-times"  (click)="test()"></i>Delete</a>-->
                                                        <button class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete" (click)="deleteGHouse(guesthouse.locationId)">Delete</button>
                                            </div>
                                        </div>
                                    </li>
                        </ul>

                    </div>
                </div>
            </div>
    
        </div>
    </div>